
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/webMasterPage.cshtml";
}
<div class="slider-area">
    <div class="slider-active owl-dot-style owl-carousel owl-loaded owl-drag">


        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2698px, 0px, 0px); transition: all 0s ease 0s; width: 8094px;">
                <div class="owl-item cloned" style="width: 1349px;">
                    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../../webContent/assets/img/slider/slider-1.jpg);">
                        <div class="container">
                            <div class="slider-content slider-animated-1">
                                <h3 class="animated">New Arrivals</h3>
                                <h1 class="animated">For Mother’s Day!</h1>
                                <h5 class="animated">Exclusive Offer -10% Off This Week</h5>
                                <div class="slider-btn mt-45">
                                    <a class="animated" href="product-details.html">shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 1349px;">
                    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../../webContent/assets/img/slider/slider-1.jpg);">
                        <div class="container">
                            <div class="slider-content slider-animated-2">
                                <h3 class="animated">New Arrivals</h3>
                                <h1 class="animated">For Mother’s Day!</h1>
                                <h5 class="animated">Exclusive Offer -10% Off This Week</h5>
                                <div class="slider-btn mt-45">
                                    <a class="animated" href="product-details.html">shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item active" style="width: 1349px;">
                    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../../webContent/assets/img/slider/slider-1.jpg);">
                        <div class="container">
                            <div class="slider-content slider-animated-1">
                                <h3 class="animated">New Arrivals</h3>
                                <h1 class="animated">For Mother’s Day!</h1>
                                <h5 class="animated">Exclusive Offer -10% Off This Week</h5>
                                <div class="slider-btn mt-45">
                                    <a class="animated" href="product-details.html">shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 1349px;">
                    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../../webContent/assets/img/slider/slider-2.jpg);">
                        <div class="container">
                            <div class="slider-content slider-animated-2">
                                <h3 class="animated">New Arrivals</h3>
                                <h1 class="animated">For Mother’s Day!</h1>
                                <h5 class="animated">Exclusive Offer -10% Off This Week</h5>
                                <div class="slider-btn mt-45">
                                    <a class="animated" href="product-details.html">shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 1349px;">
                    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../../webContent/assets/img/slider/slider-1.jpg);">
                        <div class="container">
                            <div class="slider-content slider-animated-1">
                                <h3 class="animated">New Arrivals</h3>
                                <h1 class="animated">For Mother’s Day!</h1>
                                <h5 class="animated">Exclusive Offer -10% Off This Week</h5>
                                <div class="slider-btn mt-45">
                                    <a class="animated" href="product-details.html">shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 1349px;">
                    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../../webContent/assets/img/slider/slider-2.jpg);">
                        <div class="container">
                            <div class="slider-content slider-animated-2">
                                <h3 class="animated">New Arrivals</h3>
                                <h1 class="animated">For Mother’s Day!</h1>
                                <h5 class="animated">Exclusive Offer -10% Off This Week</h5>
                                <div class="slider-btn mt-45">
                                    <a class="animated" href="product-details.html">shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div>
    </div>
</div>


<div class="banner-area">
    <div class="container">
        <div class="banner-wrap">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-banner img-zoom mb-30">
                        <a href="#">
                            <img src="~/img/anny.jpg" alt="" width="400" height="200">
                        </a>
                        <div class="banner-content">
                            <h4>Anniversary</h4>
                            <a href="#">shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-banner img-zoom mb-30">
                        <a href="#">
                            <img src="~/img/bd.jpg" alt="" width="400" height="200">
                        </a>
                        <div class="banner-content">
                            <h4>BirthDay</h4>
                            <a href="#">shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-banner mb-xs-banner img-zoom mb-30">
                        <a href="#">
                            <img src="~/img/floral-mood_4.jpg" alt="" width="400" height="200">
                        </a>
                        <div class="banner-content">
                            <h4>Thank You</h4>
                            <a href="#">shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="new-year-offer-area pb-75">
    <div class="container">
        <div class="new-year-offer-wrap pt-70 pb-75 bg-img" style="background-image:url(../../webContent/assets/img/banner/banner-4.jpg);">
            <div class="new-year-offer-content text-center">
                <h4>New Year Offer</h4>
                <h3>Fresh flowers for any special occasion</h3>
                <a href="#">Discover now</a>
            </div>
        </div>
    </div>
</div>



