
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/shared/webMasterPage.cshtml";
}

<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="@Url.Action("MyAccount","frontend")">Home</a></li>
                <li class="active">My Account</li>
            </ul>
        </div>
    </div>
</div>


